---
layout: default
title: Home
---



<article>
  <a>
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/cuba-1.jpg)">
      <h2><span>"The Ice Age was really just the Chilly Age"</span></h2>
    </div>
  </a>
</article>
<article>
  <a>
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/city-2.jpg)">
      <h2><span>"The Stone Age became the Gravel Age"</span></h2>
    </div>
  </a>
</article>
<article>
  <a>
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/spanish-inquisition.jpg)">
      <h2><span>"The Spanish Inquisition was nothing more than an outbreak of questions"</span></h2>
    </div>
  </a>
</article>
<article>
  <a>
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/war-of-roses.jpg)">
      <h2><span>"The War of the Roses took place in a garden"</span></h2>
    </div>
  </a>
</article>
<article>
  <a>
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/enola-gay.JPG)">
      <h2><span>"Enola Gay dropped one tiny atom on Japan"</span></h2>
    </div>
  </a>
</article>
<article>
  <a>
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/boer-war.jpg)">
      <h2><span>Making the enemy nod off in the Boer War</span></h2>
    </div>
  </a>
</article>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
